<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Download File Generator</title>

</head>

<body>

    <div class="container">
        <h2>Generate Download File</h2>

        <form action="/download" method="get">

            <div>
                <label for="unit">Choose the unit type:</label>
                <select name="unit" id="unit" required>
                    <option value="" selected>Choose...</option>
                    <option value="GB">GB</option>
                    <option value="MB">MB</option>
                    <option value="KB">KB</option>
                </select>
            </div>

            <div>
                <label for="size">File size:</label>
                <input type="number" name="size" id="size" required placeholder="e.g. 10" min="1">
            </div>

            <input type="submit" value="Download file">
        </form>
    </div>
    <script>
            const unitSelect = document.getElementById('unit');

            unitSelect.addEventListener('change', function() {

                if (this.value !== '') {

                    const chooseOption = this.querySelector('option[value=""]');
                    if (chooseOption) {
                        chooseOption.remove();
                    }
                }
            });
    </script>

</body>
</html>